<!DOCTYPE html>
<html>
<head>
    <title>Property Details</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="breadcrumb">
            <span>Home</span> > <span id="location"></span> > <span id="propertyName"></span>
        </div>
        
        <div class="property-details">
            <h1 id="propertyTitle"></h1>
            
            <div class="rating-section">
                <div class="review-score"></div>
                <div class="review-count"></div>
                <div class="review-word"></div>
            </div>
            
            <div class="property-images">
                <!-- Images will be loaded dynamically -->
            </div>
            
            <div class="property-info">
                <div class="description"></div>
                <div class="amenities"></div>
            </div>
        </div>
    </div>
    <script src="/static/js/property-details.js"></script>
</body>
</html>